body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}



header {
    background-color: rgb(143, 143, 168);
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
}

p {
    line-height: 1.6;
    color: #666;
}

th {
    list-style-type: none;
    padding: 0;
}

td {
    margin-bottom: 10px;
}


.imgs a {
    display: inline-block;
    margin: 10px;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;
    transition: transform 0.3s ease;
}
 
.imgs a:hover {
    transform: scale(1.05);
}
 
.imgs img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}
 
 
.imgs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 900px;
    padding: 15px;
}

.worktitle {
    display: block; /* ブロックレベルの要素として表示 */
    color: #333; /* 文字色 */
    font-size: 1.2em; /* 文字サイズ */
    margin-top: 8px; /* 画像との間隔 */
    text-align: center; /* 中央揃え */
}




.movie{
    display: flex;
}



.picture{
    display: flex;
}




footer {
    background-color: rgb(143, 143, 168);
    color: #fff;
    text-align: center;
    padding: 1em;
    bottom: 0;
    width: 100%;
}